<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Keywords Check</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>
   <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">Keywords Check</a> 

    {% block content %}
    {% endblock %} 


 <!--    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> -->

  </body>
</html>