{% extends 'base.html' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col align-self-center">
        <form method="post" novalidate>
          {% csrf_token %}

          {{ form }}
          {% for error in errors %}
            <div class="alert alert-danger" role="alert">
              <p> {{ error }} </p>
            </div>
          {% endfor %}

          {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
              {% for error in form.non_field_errors %}
                <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>

              {% endfor %}
            </div>
          {% endif %}

          <button type="submit" class="btn btn-primary">Post</button>
        </form>
      </div>
    </div>
    
    <div id="results">
      <table class="table table-striped" style="max-width: 300px;">
        <thead>
          <tr>
            <th>Keyword</th>
            <th>Count</th>
          </tr>
        </thead>
        {% for kw, amount in res %} 
          <tr>
            <td> {{ kw }} </td>
            <td> {{ amount }} </td>
          </tr>
        {% endfor %}
  </div>
{% endblock content %}